body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

header {
  position: relative;
  background-color: black;
  padding: 20px 20px 0px 20px;
  text-align: center;
}

header img {
  height: 35px;
}

header h1 {
  color: white;
  display: inline-block;
  font-size: 1.5em;
  margin-left: 10px;
  position: relative;
  top: -10px;
  padding: 0px;
}

header time {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  border-radius: 10px;
  padding: 5px 10px;
}

.sponsors img {
  margin: 5px 10px;
}

.schedule {
  flex: 1;
}
